# ignore Dymola output and log files
buildlog.txt
dsfinal.txt
dsin.txt
dslog.txt
printlog.txt
empty.txt
dsmodel.c
*.exe
dymosim.exe
dymosim.exp
dymosim.lib
*.mat
*.bak-mo
*.mof

# ignore pdf files
*.pdf

# ignore Microsoft Office files
*.doc
*.docx
*.xls
*.xlsx
*.xlsm


# ignore RefProp files
*.rfp
*.fld

# ignore LaTeX folder
[Ll][Aa][Tt][Ee][Xx]*/

# ignore PowerShell
*.ps1
