# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.mo text
*.mos text

# Explicitly declare Modelica code files
# see https://github.com/github/linguist#overrides
*.mo linguist-language=Modelica
*.mos linguist-language=Modelica
