# Explicitly declare all file extensions to be text or binary
*.csv text
*.m text
*.md text
*.mo text
*.mos text
*.order text
*.pdf binary
*.rfp text
*.svg text
*.tex text
*.txt text

# Explicitly declare languages, see https://github.com/github/linguist#overrides
*.m linguist-language=Matlab
*.mo linguist-language=Modelica
*.mos linguist-language=Modelica
*.order linguist-language=Modelica
*.tex linguist-language=TeX
